@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #262323;
    --color-text-additional: #969595;
    --color-text-additional-hover: #6a6969;
    --color-text-mutated: #6d86ea;
    --color-text-mutated-hover: #3a51ab;
    --color-text-active: #2cb149;
    --color-text-inverted: #4f46e5;
    --color-bg-main: #ffffff;
    --color-bg-additional: #e4e4e6;
    --color-bg-hover: #9ba2b4;
    --color-bg-active: #97bc9b;
    --color-bg-accent: #78a2f584;
    --color-bg-accent-hover: #4c4ca8;
    --color-text-button: #ffffff;
    --color-border-main: #1a191b;
  }

  .theme-dark {
    --color-text-base: #c0b9b9;
    --color-text-additional: #969595;
    --color-text-additional-hover: #6a6969;
    --color-text-mutated: #6d86ea;
    --color-text-mutated-hover: #3a51ab;
    --color-text-active: #2cb149;
    --color-text-inverted: #4f46e5;
    --color-bg-main: #2c2a2a;
    --color-bg-additional: #4f4f51;
    --color-bg-hover: #d4d6dd;
    --color-bg-active: #97bc9b;
    --color-bg-accent: #2e4168;
    --color-bg-accent-hover: #4c4ca8;
    --color-text-button: #ffffff;
    --color-border-main: #605f5e;
  }
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Loader styles */

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 1.5vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 12vw;
  margin: 0 2vw;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #c07a45;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

/* UserMenu styles */

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background: #bbb2cf;
}

.user-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* AuthButton styles */

.auth-btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.auth-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.auth-btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.auth-btn:hover {
  background-color: var(--hover-color);
}

.auth-btn:hover .arrow {
  background: var(--secondary-color);
}

.auth-btn:hover .arrow:before {
  right: 0;
}
