@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #262323;
    --color-text-additional: #969595;
    --color-text-additional-hover: #6a6969;
    --color-text-mutated: #6d86ea;
    --color-text-mutated-hover: #3a51ab;
    --color-text-active: #2cb149;
    --color-text-inverted: #4f46e5;
    --color-bg-main: #ffffff;
    --color-bg-additional: #e4e4e6;
    --color-bg-hover: #9ba2b4;
    --color-bg-active: #97bc9b;
    --color-bg-accent: #305aadd4;
    --color-bg-accent-hover: #305aad;
    --color-text-button: #ffffff;
    --color-border-main: #1a191b;
    --color-danger: #d62f1c;
    --color-danger-hover: #b42a1b;
  }

  .theme-dark {
    --color-text-base: #c0b9b9;
    --color-text-additional: #c4c2c2;
    --color-text-additional-hover: #969595;
    --color-text-mutated: #6d86ea;
    --color-text-mutated-hover: #3a51ab;
    --color-text-active: #2cb149;
    --color-text-inverted: #4f46e5;
    --color-bg-main: #2c2a2a;
    --color-bg-additional: #4f4f51;
    --color-bg-hover: #d4d6dd;
    --color-bg-active: #97bc9b;
    --color-bg-accent: #305aadd4;
    --color-bg-accent-hover: #305aad;
    --color-text-button: #ffffff;
    --color-border-main: #605f5e;
    --color-danger: #d62f1c;
    --color-danger-hover: #b42a1b;
  }
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Loader styles */

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 1.5vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 12vw;
  margin: 0 2vw;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #c07a45;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

/* Hero title styles */

.title {
  background: #bbb2cf;
  background: linear-gradient(to bottom right, #bbb2cf 10%, #0a3428 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 75px;
  line-height: normal;
}

.title > span {
  font-size: 90px;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .title {
    font-size: 50px;
  }

  .title > span {
    font-size: 60px;
  }
}

/* Spline container */

.spline-container {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transition-delay: 3s;
  transform: translateY(100%);
}

.spline-container.loaded {
  opacity: 1;
  transform: translateY(0);
}

/* UserMenu styles */

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background: #bbb2cf;
}

.user-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
}
